@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    text-align: center;
    font-family: zen dots;
    padding: 30px;
    transition: 0.3s;
}

h1 {
    margin-bottom: 30px;
    letter-spacing: 3px;
}

button {
    background: none;
    color: white;
    border: 3px solid white;
    width: 70px;
    height: 30px;
    transition: background 0.3s;
}

button:hover {
    cursor: crosshair;
    background: white;
    box-shadow: 0 0 30px pink;
}

button.selected {
    background: white;
    box-shadow: 0 0 30px pink;
}

.tab {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
    border: 3px dashed white;
    border-top: 0;
}

.tab img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 30px;
}

.tab p {
    line-height: 30px;
    text-align: justify;
}